
@model IEnumerable<Syndiceo.Data.Models.Apartment>
@{
    ViewData["Title"] = "Потвърждение на адреси";
}


<table class="table">
    <thead>
        <tr>
            <th>Потребител</th>
            <th>Вход / Апартамент</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@item.User.Email</td>
            <td>Вход: @item.Entrance.EntranceName, Ап. @item.ApartmentNumber</td>
            <td>
                <form asp-action="ConfirmResidence" method="post">
                    <input type="hidden" name="apartmentId" value="@item.ApartmentId" />
                    <button class="btn btn-primary btn-sm">Потвърди адрес</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>