<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Syndiceo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Syndiceo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Syndiceo.Properties.Settings>
            <setting name="appVersion" serializeAs="String">
                <value>1.0.0</value>
            </setting>
        </Syndiceo.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Syndiceo.Properties.Settings>
            <setting name="AutoArchive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DetailedReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isUsernameChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPasswordChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isNameChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="monthForPrinting" serializeAs="String">
                <value />
            </setting>
            <setting name="yearForPrinting" serializeAs="String">
                <value />
            </setting>
            <setting name="isReportDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="areThereAnyLastPayments" serializeAs="String">
                <value>False</value>
            </setting>
        </Syndiceo.Properties.Settings>
    </userSettings>
</configuration>