@page
@model EmailModel
@{
    ViewData["Title"] = "Промяна на имейл";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm p-4" style="border-radius:0.75rem; background:local;">

            <h3 class="mb-4 fw-bold text-center">@ViewData["Title"]</h3>

            <form id="email-form" method="post">
                <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>

                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-floating mb-3 input-group">
                        <input asp-for="Email" class="form-control" placeholder="Въведете имейл адреса ви." disabled />
                        <span class="input-group-text text-success font-weight-bold">✓</span>
                        <label asp-for="Email" class="form-label"></label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Въведете имейл адреса ви." disabled />
                        <label asp-for="Email" class="form-label"></label>
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link p-0">Изпрати имейл за потвърждение</button>
                    </div>
                }

                <div class="form-floating mb-4">
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Въведете нов имейл адрес." />
                    <label asp-for="Input.NewEmail" class="form-label"></label>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>

                <button type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary btn-lg w-100 mb-3">
                    Промяна на имейла
                </button>
            </form>

            <p class="text-muted small mt-3 text-center">
                Промените се запазват веднага след редакция.
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}